.container {
  max-width: 960px;
  margin: auto; }

header {
  height: 115px; }
  header .site_menu .container {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    header .site_menu .container ul {
      list-style: none; }
      header .site_menu .container ul li {
        display: inline-block;
        margin-right: 15px; }
        header .site_menu .container ul li:nth-child(3):after {
          content: '';
          height: 5px;
          width: 5px;
          display: inline-block;
          border: 2px solid #e58415;
          border-right-width: 0;
          border-top-width: 0;
          -ms-transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
          margin-left: 6px;
          margin-bottom: 1px; }
        header .site_menu .container ul li a {
          text-decoration: none;
          color: #e58415; }
    header .site_menu .container .social_icons {
      text-align: center; }
      header .site_menu .container .social_icons a {
        display: inline-block;
        background-color: #e58415;
        width: 25px;
        text-align: center;
        border-radius: 20px; }
        header .site_menu .container .social_icons a i {
          font-size: 15px;
          color: white;
          line-height: 25px; }
  header .logo {
    position: relative; }
  header .page_menu {
    position: relative;
    top: -45px; }
    header .page_menu .container {
      border-bottom: solid 1px black;
      display: flex;
      justify-content: flex-end;
      align-items: center; }
      header .page_menu .container ul {
        list-style: none; }
        header .page_menu .container ul li {
          display: inline-block;
          margin-right: 15px;
          border: solid 2px transparent; }
          header .page_menu .container ul li:hover {
            border-top: solid 2px #958671; }
          header .page_menu .container ul li a {
            text-decoration: none;
            color: #e58415;
            font-style: italic; }
      header .page_menu .container .drop {
        position: relative; }
        header .page_menu .container .drop:hover .drop_down {
          display: block; }
        header .page_menu .container .drop .drop_down {
          height: 225px;
          width: 280px;
          background-color: #958671;
          position: absolute;
          display: none; }
          header .page_menu .container .drop .drop_down div {
            padding: 20px 20px 15px 25px;
            display: inline-block; }
            header .page_menu .container .drop .drop_down div:nth-child(2) {
              float: right;
              padding-left: 0; }
              header .page_menu .container .drop .drop_down div:nth-child(2) a {
                padding-right: 10px;
                border-right: none; }
            header .page_menu .container .drop .drop_down div a {
              display: block;
              font-size: 13px;
              color: white;
              padding-right: 30px;
              border-right: solid 1px white;
              line-height: 21px; }

/*# sourceMappingURL=style.css.map */
